@font-face {
    font-family: bloodborne-font;
    src: url(../res/font.ttf);
}

body {
    margin: 0;
    background-color: #4a2e6b;
    display: flex;
    overflow: hidden;
}

aside {
    margin: 1vh auto;
    color: rgb(255, 200, 0);
    font-family: 'bloodborne-font';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

header h1 {
    font-size: 9vh;
    margin: 0 auto;
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

footer p {
    font-size: 3vh;
    margin: 1vh;
}

main {
    display: flex;
}

main * {
    position: absolute;
}

#back {
    position: inherit;
    height: 100vh;
}
